.cardContainer {
	display: flex;
	flex-direction: column;

	background-color: var(--clr-primary);
	border: 1px solid var(--clr-primary);
	border-radius: 0.5em;

	width: min(450px, 85vw);
	margin: 3em 0;
}

.cardHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-family: Pokemon;
}

.cardHeader h3 {
	font-size: var(--fs-secondary-header);
	text-transform: capitalize;
	letter-spacing: 0.125em;

	background-color: var(--clr-neutral);
	color: var(--clr-primary);

	border-radius: 0.5em;
	margin: 0.25em;
	padding: 0.25em 0.75em;
}

.cardHeader span {
	background-color: var(--clr-primary);
	color: var(--clr-neutral);
	border-radius: 50%;
	border: 2px solid var(--clr-neutral);

	width: clamp(30px, 5vw, 40px);
	height: clamp(30px, 5vw, 40px);
	line-height: clamp(30px, 5vw, 40px);

	margin: auto 0.5em;
	text-align: center;
}

.cardContainer img {
	background-color: var(--clr-neutral);
}

.cardInfo {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.cardInfo div {
	padding: 1em;
}

.cardInfo h4 {
	font-size: var(--fs-tertiary-header);
	color: var(--clr-neutral);
	border-bottom: 2px solid var(--clr-neutral);
	margin-bottom: 1em;
	padding: 0.25em 0;
}

.cardInfo li {
	background-color: var(--clr-neutral);
	color: var(--clr-primary-accent);
	border-radius: 50px;
	padding: 0.25em 1em;
	margin: 0.5em 0;
	text-align: center;
}
