:root {
	/* Colors */
	--clr-neutral: hsl(0, 0%, 98%);
	--clr-primary: hsl(1, 79%, 56%);
	--clr-primary-accent: hsl(1, 69%, 46%);

	/* Fonts */
	--fs-200: 0.7rem;
	--fs-300: 0.85rem;
	--fs-400: 1rem;
	--fs-500: 1.125rem;
	--fs-600: 1.25rem;
	--fs-700: 1.75rem;
	--fs-800: 2rem;

	--fs-body: var(--fs-200);
	--fs-primary-heading: var(--fs-700);
	--fs-secondary-header: var(--fs-500);
	--fs-tertiary-header: var(--fs-300);
}

@media (min-width: 30rem) {
	:root {
		--fs-body: var(--fs-300);
		--fs-tertiary-header: var(--fs-400);
	}
}

@media (min-width: 50rem) {
	:root {
		--fs-body: var(--fs-400);
		--fs-primary-heading: var(--fs-800);
		--fs-secondary-header: var(--fs-600);
		--fs-tertiary-header: var(--fs-500);
	}
}
