.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem;
}

.searchBar {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: min(500px, 75vw);
}

.searchInput {
	width: 80%;
	background: transparent;
	border: 2px solid var(--clr-primary);
	border-radius: 0.5em;
	outline: 0;
	padding: 0.5em;
}

.searchSubmit {
	cursor: pointer;
	width: 40%;
	background-color: var(--clr-primary);
	color: var(--clr-neutral);
	outline: 0;
	border: 0;
	border-radius: 0.5em;
	margin-top: 1rem;
	padding: 0.5em 1em;
	transition: 0.3s ease-in-out;
}

.searchSubmit:hover {
	background-color: var(--clr-primary-accent);
	border: 2px solid var(--clr-primary-accent);
}

@media (min-width: 30rem) {
	.searchBar {
		flex-direction: row;
	}

	.searchInput {
		border-radius: 0.5em 0 0 0.5em;
		border-right: 0;
	}

	.searchSubmit {
		margin-top: 0;
		border-radius: 0 0.3em 0.3em 0;
		border: 2px solid var(--clr-primary);
		width: 25%;
	}
}

/* Appear transition */
.fade-appear {
	opacity: 0;
}

.fade-appear-active {
	opacity: 1;
	transition: opacity 5000ms;
}

/* Enter transition */
.fade-enter {
	opacity: 0;
}

.fade-enter-active {
	opacity: 1;
	transition: opacity 5000ms;
}

.fade-enter-done {
	opacity: 1;
}
